.engie-choice {
	width: 100%;
	opacity: 1;
	transition: all 0.2s ease-out;
	pointer-events: auto;
	position: absolute;
	top: 0;
}

.engie-choice--hidden {
	opacity: 0;
	transition: all 0.2s ease-out;
	pointer-events: none;
	position: absolute;
	top: 0;
}

.engie-choice__title {
	text-align: center;
	color: rgb(50, 50, 50);
	font-size: 20pt;
	padding: 40px 20px 50px 20px;
	margin: 0;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1000px) {
	.engie-choice__title {
		font-size: 16pt;
		padding: 50px 10px;
		text-align: justify;
	}
}

@media only screen and (max-width: 800px) {
	.engie-choice__title {
		padding: 50px 10px 0 10px;
	}
}

.engie-choice__back {
	padding: 10px 20px 10px 20px;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(247, 247, 247);
	font-size: 13pt !important;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-out;
	pointer-events: auto;
}

.engie-choice--hidden .engie-choice__back {
	pointer-events: none;
}

.engie-choice__back:hover {
	background: rgb(200, 200, 200);
}

.engie-choice__back .icon {
	margin-right: 5px;
}

.engie-choice__list {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
