* {
	font-family: "Consolas", sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
}

html,
body,
#app {
	width: 100%;
	height: 100%;
}

#app {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 1250px) {
	#app {
		height: auto;
		overflow: hidden;
	}
}

.engie,
.engie-resultat {
	width: 1200px;
	height: 460px;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 20px rgb(230, 230, 230);
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.engie-resultat {
	height: 700px;
	overflow: auto;
	box-shadow: none;
}

@media only screen and (max-width: 1400px) {
	.engie {
		width: 80%;
	}
	.engie-resultat {
		height: 90%;
	}
}

@media only screen and (max-width: 1000px) {
	.engie,
	.engie-resultat {
		width: 100%;
		height: 100vh;
	}
}

/* @media only screen and (max-width: 1000px) {
	.engie-resultat {
		height: auto;
	}
} */

.engie__tarif-nuit {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13pt;
	padding: 0 10px 0 10px;
}

.engie__checkbox {
	margin-right: 10px;
}

.engie__resultat {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: none;
}

@media only screen and (max-width: 1000px) {
	.engie__resultat {
		height: auto;
	}
}

.engie__suggestion {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 1250px) {
	.engie__suggestion {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.engie__resultat-item,
.engie__resultat-item--special {
	width: 32%;
	height: 300px;
	box-shadow: 5px 5px 20px rgb(200, 200, 200);
	border-radius: 20px;
	transition: all 0.2s ease-out;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 1250px) {
	.engie__resultat-item,
	.engie__resultat-item--special {
		width: 500px;
		height: auto;
		margin-bottom: 50px;
		padding-bottom: 30px;
	}
}

@media only screen and (max-width: 550px) {
	.engie__resultat-item,
	.engie__resultat-item--special {
		width: 90%;
	}
}

.engie__resultat-item:hover,
.engie__resultat-item--special:hover {
	box-shadow: 5px 5px 50px rgb(200, 200, 200);
}

.engie__resultat-item--special {
	justify-content: flex-start;
	height: 400px;
}

@media only screen and (max-width: 1250px) {
	.engie__resultat-item--special {
		justify-content: flex-start;
		height: 300px;
	}
}

.engie__resultat-item .title {
	text-align: center;
	padding: 50px 20px 20px 20px;
	margin: 0;
	font-size: 20pt;
	color: black;
}

.engie__resultat-item .erased_price {
	text-align: center;
	text-decoration: line-through;
	margin: 0;
	padding: 0;
	color: rgb(140, 140, 140);
	font-size: 12pt;
}

.engie__resultat-item .price {
	text-align: center;
	margin: 0;
	padding: 20px 20px 0 20px;
	color: rgb(100, 100, 100);
	font-size: 40pt;
}

.engie__resultat-item .month {
	text-align: center;
	margin: 0;
	padding: 0 20px 20px 20px;
	color: rgb(100, 100, 100);
	font-size: 13pt;
}

.engie__resultat-item .text {
	text-align: center;
	padding: 0 50px 20px 50px;
	color: black;
}

.engie__resultat-item .separator {
	width: 80%;
	height: 1px;
	background: rgb(220, 220, 220);
	margin-bottom: 20px;
}

.engie__resultat-item .box {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 80%;
	padding: 10px 0 10px 0;
}

.engie__resultat-item .icon {
	color: green;
	margin-right: 10px;
	font-size: 15pt;
}

.engie__resultat-item .label {
	color: rgb(80, 80, 80);
	font-size: 13pt;
	padding: 0;
	margin: 0;
}

.engie__title {
	font-size: 30pt;
	text-align: center;
	padding: 0 10px 0 10px;
}

.banner,
.promo {
	position: absolute;
	top: -34px;
	background: #ff5722;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	color: white;
	font-size: 10pt;
}

.promo {
	background: green;
}
